.container {
    background: #1e1e1e;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 350px;
    margin: auto;
    margin-top: 50px;
    text-align: center;
    color: #fff;
    padding-right: 45px;
}

h2 {
    margin-bottom: 20px;
    font-size: 24px;
}

.formGroup {
    margin-bottom: 15px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #444;
    background: #2c2c3a;
    color: white;
    border-radius: 4px;
    font-size: 16px;
}

input:focus {
    outline: none;
    border-color: #007bff;
}

.submitButton {
    width: 100%;
    padding: 12px;
    margin-top: 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
}

.submitButton:hover {
    background-color: #0056b3;
}


.profilePreviewContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    max-width: 100px;
    max-height: 100px;
}

.profilePreview {
    width: 80px;
    height: 80px;
    max-width: 80px;
    max-height: 80px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #444;
}




input[type="file"] {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #2c2c3a;
    border: 1px solid #444;
    color: white;
    border-radius: 4px;
    font-size: 16px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.changePasswordButton {
    width: 100%;
    padding: 12px;
    margin-top: 20px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
}

.changePasswordButton:hover {
    background-color: #218838;
}